src/by/it/sereda/jd02_07/Airport.dtd

<?xml version="1.0" encoding="UTF-8" ?>
<!ELEMENT Airport (Administrator, Flight, Dispatcher, BrigadeList)>
<!ELEMENT Administrator (#PCDATA)>
<!ELEMENT Flight (#PCDATA)>
<!ELEMENT Dispatcher (#PCDATA)>
<!ELEMENT BrigadeList (Brigade)+>
<!ELEMENT Brigade (Pilot, Navigator, Stewardess)>
<!ELEMENT Pilot (#PCDATA)>
<!ELEMENT Navigator (#PCDATA)>
<!ELEMENT Stewardess (#PCDATA)>
